@page
@model WebAssForUna.Pages.FirstPageModel
@{
    ViewData["Title"] = "FirstPage";
}

<h2>FirstPage</h2>
<!Doctype html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Firstpage</title>
    <link rel="stylesheet" type="text/css" href="~/Pages/StyleSheet1.css" />
</head>
<body>
    <h3>
        <bold>
            <font size="6">
        Welcome to the Attractive Dating website for Attractive people
                </font>
            </bold>
    </h3>

    <li><a href="~/Pages/signup.cshtml">Click Here to sign up</a></li>
</body>
</html>