@page
@model WebAssForUna.Pages.SignupModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
        Layout = null;
    }





<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>signup</title>
    <link rel="stylesheet" type="text/css" href="~/Pages/StyleSheet1.css"/>
</head>

    
  <body>
    <form method="post">
        
        <p><bold><font size="6">Attractive dating website for attractive people</font></bold></p>
        
        <p>Firstname:</p>
        <label asp-for="Firstname"><input type="text" asp-for="Firstname"></label>
        
        <p>Surname:</p>
        <label asp-for="Surname"><input type="text" asp-for="Surname"  /></label>
        

        <p>Gender:</p>
        <label asp-for="Male"><input value="Male" id="Male" type="radio" asp-for="Gender" />Male</label>
        <label asp-for="Female"><input value="Female" id="Female" type="radio" asp-for="Gender"/>Female</label>
        <label asp-for="Other"><input value="Other" id="Other" type="radio" asp-for="Gender" />Other</label>


        <p>Height(in ft):</p>
        <label asp-for="Height"><input type="number" asp-for="Height" /></label>
        

        <p>Date of birth:</p>
        <label asp-for="Birthday"><input type="date" asp-for="Birthday" /></label>
        

        <p>P.P.S.N:</p>
        <label asp-for="Ppsn"><input asp-for="Ppsn" type="number"   /></label>
       

        <p>Relationship Status:</p>
        <label asp-for="Single"><input value="Single" id="Single" type="radio" asp-for="Status" />Single and ready to Mingle</label>
        <label asp-for="Taken"><input value="Taken" id="Taken" type="radio" asp-for="Status" />Taken couple looking for fun</label>
        <label asp-for="Complicated"><input value="Complicated" id="Complicated" type="radio" asp-for="Status" />It's Complicated</label>

        <p>Interests</p>
        <label asp-for=OutdoorSports><input type="checkbox" data-val="true" id="OutdoorSports" name="OutdoorSports" asp-for="Interests"/>Outdoor Sports</label>
        <label asp-for="WatchingSports"><input type="checkbox" data-val="true" id="WatchingSports" name="WatchingSports" value="true" asp-for="Interests" />Watching Sports</label>
        <label asp-for="Interests"><input asp-for="Interests" type="checkbox" />Food</label>
        <label asp-for="Interests"><input asp-for="Interests" type="checkbox"  />Pubs</label>
        <label asp-for="Interests"><input asp-for="Interests" type="checkbox" />Cinema</label>
        <label asp-for="Interests"><input asp-for="Interests" type="checkbox" />Theatre</label>
        <label asp-for="Interests"><input asp-for="Interests" type="checkbox" />Music</label>
        <label asp-for="Interests"><input asp-for="Interests" type="checkbox" />Reading</label>
        <label asp-for="Interests"><input asp-for="Interests" type="checkbox" />Boardgames</label>
        
        

        <p>Phone number:</p>
        <label asp-for="Phonenum"><input asp-for="Phonenum" type="number" /></label>
        

        <p>E-mail</p>
        <label asp-for="Email"><input asp-for="Email" type="text" /></label>
        
        <input type="submit" value="submit"/>
       
            
    </form>
  </body>

</html>
