@page
@model WebAssForUna.Pages.SignupModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
        Layout = null;
    }





<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>signup</title>
    <link rel="stylesheet" type="text/css" href="~/Pages/StyleSheet1.css"/>
</head>

    
  <body>
    <form>
        
        <p><bold><font size="6">Attractive dating website for attractive people</font></bold></p>
        
        
        <label asp-for="Firstname"></label><input type="text" asp-for="Firstname" value="">
        
        <p>Surname:</p>
        <label asp-for="Surname"><input asp-for="Surname" type="text" value=""/></label>
        

        <p>Gender:</p>
        <label asp-for="Gender"><input asp-for="Gender" type="radio"  value="" />Male</label>
        <label asp-for="Gender"><input asp-for="Gender" type="radio"  value="" />Female</label>
        <label asp-for="Gender"><input asp-for="Gender" type="radio"  value="" />Other</label>

        <p>Height:</p>
        <label asp-for="Height"><input asp-for="Height" type="number" value=""/></label>
        

        <p>Date of birth:</p>
        <label asp-for="Birthday"><input asp-for="Birthday" type="date"  value="" /></label>
        

        <p>P.P.S.N:</p>
        <label asp-for="Ppsn"><input asp-for="Ppsn" type="number"  value="" /></label>
       

        <p>Relationship Status:</p>
        <label asp-for="Status"><input asp-for="Status" type="radio"  value="" />Single</label>
        <label asp-for="Status"><input asp-for="Status" type="radio"  value="" />Taken</label>
        <label asp-for="Status"><input asp-for="Status" type="radio" value="" />Divorced/Seperated</label>

        <p>Interests</p>
        <label asp-for="Interests"><input asp-for="Interests" type="checkbox" value="" />outdoor sports</label>
        <label asp-for="Interests"><input asp-for="Interests" type="checkbox" value=""/>watching sports</label>
        <label asp-for="Interests"><input asp-for="Interests" type="checkbox" value="" />Food</label>
        <label asp-for="Interests"><input asp-for="Interests" type="checkbox"  value=""/>Pubs</label>
        <label asp-for="Interests"><input asp-for="Interests" type="checkbox" value=""/>Cinema</label>
        <label asp-for="Interests"><input asp-for="Interests" type="checkbox" value=""/>Theatre</label>
        <label asp-for="Interests"><input asp-for="Interests" type="checkbox" value=""/>Music</label>
        <label asp-for="Interests"><input asp-for="Interests" type="checkbox" value=""/>Reading</label>
        <label asp-for="Interests"><input asp-for="Interests" type="checkbox" value=""/>outdoor sports</label>
        <label asp-for="Interests"><input asp-for="Interests" type="checkbox" value=""/>Boardgames</label>
        
        

        <p>Phone number:</p>
        <label asp-for="Phonenum"><input asp-for="Phonenum" type="number" value=""/></label>
        

        <p>E-mail</p>
        <label asp-for="Email"><input asp-for="Email" type="text" value=""/></label>
        
        <input type="submit" value="submit"/>
       
            
    </form>
  </body>

</html>
