@page
@model WebAssForUna.Pages.SignupModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
        Layout = null;
    }





<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>signup</title>
    <link rel="stylesheet" type="text/css" href="~/Pages/StyleSheet1.css"/>
</head>

    
  <body>
    <form>
        
        <p><bold><font size="6">Attractive dating website for attractive people</font></bold></p>
        
        <p>Firstname:</p>
        <label asp-for="Firstname"><input asp-for="Firstname"  type="text" id="firstname" name="Firstname" value="" /></label>
        
        <p>Surname:</p>
        <label asp-for="Surname"><input asp-for="Surname" type="text" id="surname" name="Surname" value="" /></label>
        

        <p>Gender:</p>
        <label asp-for="Gender"><input asp-for="Gender" type="radio" id="gender" name="Gender" value="gender" />Male</label>
        <label asp-for="Gender"><input asp-for="Gender" type="radio" id="gender" value="gender" name="Gender" />Female</label>
        <label asp-for="Gender"><input asp-for="Gender" type="radio" id="gender" value="gender" name="Geneder" />Other</label>

        <p>Height:</p>
        <label asp-for="Height"><input asp-for="Height" type="text" id="height" name="Gender" value="" /></label>
        

        <p>Date of birth:</p>
        <label asp-for="Birthday"><input asp-for="Birthday" type="date" id="birthday" name="Gender" value="" /></label>
        

        <p>P.P.S.N:</p>
        <label asp-for="Ppsn"><input asp-for="Ppsn" type="text" id="ppsn" name="Ppsn" value="" /></label>
       

        <p>Relationship Status:</p>
        <label asp-for="Status"><input asp-for="Status" type="radio"  value="status" name="Status" />Single</label>
        <label asp-for="Status"><input asp-for="Status" type="radio"  value="status" name="Status"/>Taken</label>
        <label asp-for="Status"><input asp-for="Status" type="radio" value="status" name="Status"/>Divorced/Seperated</label>

        <p>Interests</p>
        <label asp-for="Interests"><input asp-for="Interests" type="checkbox" name="Interests" />outdoor sports</label>
        <label asp-for="Interests"><input asp-for="Interests" type="checkbox" name="Interests"/>watching sports</label>
        <label asp-for="Interests"><input asp-for="Interests" type="checkbox" name="Interests"/>Food</label>
        <label asp-for="Interests"><input asp-for="Interests" type="checkbox" name="Interests"/>Pubs</label>
        <label asp-for="Interests"><input asp-for="Interests" type="checkbox" name="Interests"/>Cinema</label>
        <label asp-for="Interests"><input asp-for="Interests" type="checkbox" name="Interests"/>Theatre</label>
        <label asp-for="Interests"><input asp-for="Interests" type="checkbox" name="Interests"/>Music</label>
        <label asp-for="Interests"><input asp-for="Interests" type="checkbox" name="Interests"/>Reading</label>
        <label asp-for="Interests"><input asp-for="Interests" type="checkbox" name="Interests"/>outdoor sports</label>
        <label asp-for="Interests"><input asp-for="Interests" type="checkbox" name="Interests"/>Boardgames</label>
        
        

        <p>Phone number:</p>
        <label asp-for="Phonenum"><input asp-for="Phonenum" type="text" value="" name="Phonenum"/></label>
        

        <p>E-mail</p>
        <label asp-for="Email"><input asp-for="Email" type="text" value="" name="Phonenum" /></label>
        
        <input type="submit" value="submit"/>
       
            
    </form>
  </body>

</html>
