@page
@model WebAssForUna.Pages.SignupModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{

}
@using WebAssForUna.Models








<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>signup</title>
    <link href="~/Pages/StyleSheet1.css" rel="stylesheet" type="text/css" />


</head>


<body>
    <form method="post">
        <div asp-validation-summary="All"></div>

        <p><bold><font size="6">Attractive dating website for attractive people</font></bold></p>


        <div>
            <p>Firstname</p>
            <label asp-for="Signup.Firstname"></label>
            <input asp-for="Signup.Firstname">

        </div>



        <div>
            <p>Surname</p>
            <label asp-for=Signup.Surname></label>
            <input asp-for=Signup.Surname>
        </div>

        <div>
            <p>Gender</p>
            <label asp-for="Signup.Male"><input type="radio" asp-for="Signup.Male"></label>
            <label asp-for="Signup.Female"><input type="radio" asp-for="Signup.Female"></label>
            <label asp-for="Signup.Other"><input type="radio" asp-for="Signup.Other"></label>
        </div>



        <p>Height</p>
        <label asp-for="Signup.Height"><input type="number" asp-for="Signup.Height" /></label>




        <div>
            <fieldset>
                <p>Date of Birth</p>
                <label asp-for="Signup.Birthday"><input type="date" asp-for="Signup.Birthday" /></label>
            </fieldset>
        </div>


        <div>
            <fieldset>
                <legend>P.P.S.N</legend>
                <label asp-for="Signup.Ppsn"><input asp-for="Signup.Ppsn" type="number" /></label>
            </fieldset>
        </div>



        <div>
            <p>Relationship Status</p>
            <label asp-for="Signup.Single"><input value="Single" id="Single" type="radio" asp-for="Signup.Status" />Single and ready to Mingle</label>
            <label asp-for="Signup.Taken"><input value="Taken" id="Taken" type="radio" asp-for="Signup.Status" />Taken couple looking for fun</label>
            <label asp-for="Signup.Complicated"><input value="Complicated" id="Complicated" type="radio" asp-for="Signup.Status" />It's Complicated</label>
        </div>







        <p>Interests</p>
        @for (int i = 0; i < @Model.InterestNames.Length; i++)
        {
            <input asp-for=InterestsChosen[i]>
            <label asp-for=InterestsChosen[i]>@Model.InterestNames[i]</label>
        }





        <div>
            <p>Phone Number</p>
            <label asp-for="Phonenum"><input asp-for="Phonenum" type="number" /></label>
        </div>



        <div>
            <p>Email</p>
            <label asp-for="Email"><input asp-for="Email" type="text" /></label>
        </div>


        <input type="submit" value="submit" />

    </form>
    @Model.Message
</body>

</html>
